<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="app.dataaccess" type="Bosco.DAO.Configuration.DatabaseHandler, Bosco.DAO" />
  </configSections>
  <connectionStrings>
    <!--<add name="AppConnectionString" connectionString="server=192.168.1.7;database=acmepp;uid=app;pwd=app;pooling=false" providerName="MySQL.Data.MySqlClient"/>-->
    <add name="AppConnectionString" connectionString="server=192.168.1.7;database=portal ;uid=portal;pwd=portal#;pooling=false" providerName="MySQL.Data.MySqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <!--<add key="DatabaseProvider" value="SQLServer"/>-->
    <add key="DatabaseProvider" value="MySQL" />
    <add key="SQLAdapter" value="Bosco.SQL.SQLAdapter,Bosco.SQL" />
  </appSettings>
  <app.dataaccess>
    <appdatabase id="MySQL" type="Bosco.DAO.MySQL.MySQLDataHandler, Bosco.DAO" />
  </app.dataaccess>
</configuration>
